LOOP STATEMENT

FOR LOOP
when we know how many times repeat/When we know number of iteration.

In [ ]:
Basic Syntax

for i(iterator) in range(start,stop,step):
    statement
    print(i)

In [3]:
# PRINT 1 TO 10 NUMBERRING
for i in range(1,10):
    i+=1
    print(i)

2
3
4
5
6
7
8
9
10

In [4]:
# PRINT 1 TO 10 NUMBERRING
for i in range(0,10):
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# PRINT 1 TO 10 NUMBERRING
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
# PRINT 1 TO 10 NUMBERRING
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Print Even Numebr using For Loop

In [9]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
word="Python"
for i in word:
    print(i)

P
y
t
h
o
n

In [14]:
sum=0
for i in range(1,11):
    sum+=i
print("Total",sum)

Total 55

In [ ]:
While Loop:-

While Condition:
    'statement

In [20]:
i=0
while i<5:
    i+=1
    print(i)

1
2
3
4
5

In [23]:
timer=5
while timer>=1:
    print(timer)
    timer-=1

5
4
3
2
1

In [24]:
password="abc@123"
user=""
while password != user:
    user=input("Enter Your Valid Password")
print("Access Granted")

Access Granted

In [ ]:
pin=123
attempt=3
while attempt>0:
    user=int(input("Enter Your PIN"))
    if user==pin:
        print("Login Successfully")
        break
    else:
        attempt-=1
        print("wrong Pin Entered Attempt Left",attempt)

Login Successfully

In [ ]:
print("=================WELCOME TO SBI ATM==================")
set_pin=int(input("Enter Your PIN:"))
balance=10000
password=set_pin
attempt=3
while attempt>0:
    login=int(input("Enter Your PIN"))
    
if password==login:
    print("\n==============Login Successfully===============\n")
    
    print("========ATM MENU==========")
    print("1.Check Balance")
    print("2.Withdraw Money")
    print("3.Deposit Money")
    print("4.Pin Change")
    
    choose=int(input("Enter Your Choise"))
    if choose==1:
        print("Your Balance is:",balance)
    elif choose==2:
        withdraw_amount=int(input("Enter Your Amount:"))
        if withdraw_amount<=10000 and withdraw_amount>=1:
            if withdraw_amount % 100==0:
                print("Withdraw SuccessFully")
                balance-=withdraw_amount
                print("-------------------------")
                print("Total Withdraw Amount:",withdraw_amount)
                print("Total Remaining Amount:",balance)
            else:
                print("Please Enter Multiplese of 100")
        else:
            print("Incoorect Amount")
            print("Insufficient Amount")
    elif choose==3:
        deposit=int(input("Enter Your Deposit Amount:"))
        if deposit>=0:
            print("Deposit Successfully")
            balance+=deposit
        else:
            print("Please Enter Valid Amount")
    elif choose==4:
        update_pin=int(input("Enter Your NEW PIN"))
        password=update_pin
else:
    print("Incorrect Password")

print("Thank You")

In [28]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [30]:
n=int(input("Enter Your Number"))
total=0
for i in range(1,n+1):
    total+=i
print(total)

210

In [2]:
n=int(input("Enter Your Table NUmber"))
total=0
for i in range(1,11):
    result=n*i
    print(f"{n} * {i}={result}")
    total+=result
print("Total Sum is:",total)

5 * 1=5
5 * 2=10
5 * 3=15
5 * 4=20
5 * 5=25
5 * 6=30
5 * 7=35
5 * 8=40
5 * 9=45
5 * 10=50
Total Sum is: 275

In [5]:
n = int(input("Enter Your Number: "))
for num in range(1, n + 1):        # Table Loop 1 to n
    print(f"\nTable of {num}")
    total = 0
    for i in range(1, 11):        # 1 to 10 table multiply
        result = num * i
        print(f"{num} x {i} = {result}")
        total += result
    print(f"Total Sum of Table {num} = {total}")

Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Total Sum of Table 1 = 55

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Total Sum of Table 2 = 110

Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Total Sum of Table 3 = 165

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Total Sum of Table 4 = 220

Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Total Sum of Table 5 = 275

Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Total Sum of Table 6 = 330

Table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Total Sum of Table 7 = 385

Table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Total Sum of Table 8 = 440

Table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Total Sum of Table 9 = 495

Table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
Total Sum of Table 10 = 550

Table of 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
Total Sum of Table 11 = 605

Table of 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
Total Sum of Table 12 = 660

Table of 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
Total Sum of Table 13 = 715

Table of 14
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
Total Sum of Table 14 = 770

Table of 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
Total Sum of Table 15 = 825

Table of 16
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
Total Sum of Table 16 = 880

Table of 17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
Total Sum of Table 17 = 935

Table of 18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
Total Sum of Table 18 = 990

Table of 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
Total Sum of Table 19 = 1045

Table of 20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200
Total Sum of Table 20 = 1100

In [6]:
print("*")
print("**")
print("***")
print("****")
print("*****")

*
**
***
****
*****

In [7]:
n=int(input("Enter Your Nunber"))
for i in range(1,n+1):
    print("*" * i)

*
**
***
****
*****

In [9]:
n=int(input("Enter Your Number"))
for i in range(n,0,-1):
    print(i,"*" * i)

5 *****
4 ****
3 ***
2 **
1 *

In [19]:
n=int(input("Enter Your Number"))
for i in range(n,0,-1):
    if i % 2!=0:
        print(i,"*" * i)

19 *******************
17 *****************
15 ***************
13 *************
11 ***********
9 *********
7 *******
5 *****
3 ***
1 *

In [16]:
n=int(input("Enter Your Number"))
for i in range(n,0,-1):
    if i %2 ==0:
        print(i,"*" * i)

10 **********
8 ********
6 ******
4 ****
2 **

In [ ]:
****
****
****
****

In [31]:
n=int(input("Enter Your Rows Number: "))
for i in range(n):
    for j in range(n):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [30]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print("*"*n,end="")
    print()

*****
*****
*****
*****
*****

In [ ]:
        *
       **
      ***
     ****

In [36]:
n=int(input("Enter Your NUmber"))
for i in range(1,n+1):
    print(i," "*(n-i)+"*"* i)

1     *
2    **
3   ***
4  ****
5 *****

In [ ]:
n=int(input("Enter Your NUmber"))
for i in range(1,n+1):
    print(i," "*(n-i)+"*"* i)

In [ ]:
******
 *****
  ****
   ***
    **
     *

In [37]:
n=int(input("Enter Your NUmber"))
for i in range(n,0,-1):
    print(i," "*(n-i)+"*"* i)

5 *****
4  ****
3   ***
2    **
1     *

In [ ]:
      *
     ***

In [39]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print(i," "*(n-i)+"*"*(2*i-1))

1          *
2         ***
3        *****
4       *******
5      *********
6     ***********
7    *************
8   ***************
9  *****************
10 *******************

In [40]:
n=int(input("Enter Your Number"))
for i in range(n,0,-1):
    print(i," "*(n-i)+"*"*(2*i-1))

10 *******************
9  *****************
8   ***************
7    *************
6     ***********
5      *********
4       *******
3        *****
2         ***
1          *

In [42]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print(" "*(n-i)+"*"*(2*i-1))
for i in range(n,0,-1):
    print(" "*(n-i)+"*"*(2*i-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [56]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):
        print(j,end="")
    for j in range(i,0,-1):
        print(j,end="")
    print()

    1
   121
  12321
 1234321
123454321

In [ ]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):          # 1 se i-1
        print(j,end="")
    for j in range(i,0,-1):       # i se 1
        print(j,end="")
    print()                        # Next Line

    1
   121
  12321
 1234321
123454321

In [ ]:
row(i)      spaces          left(1 to i-1)         right(i to 1)          clear_output
1            4                 empty                   1                    "   1"
2            3                1                       21                   "   121"
3            2                12                     321                   "  12321"
4            1                123                    4321                  " 1234321"
5            0                1234                   54321                 "123454321"