LOOP STATEMENT

FOR LOOP
when we know how many times repeat/When we know number of iteration.

In [ ]:
Basic Syntax

for i(iterator) in range(start,stop,step):
    statement
    print(i)

In [3]:
# PRINT 1 TO 10 NUMBERRING
for i in range(1,10):
    i+=1
    print(i)

2
3
4
5
6
7
8
9
10

In [4]:
# PRINT 1 TO 10 NUMBERRING
for i in range(0,10):
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# PRINT 1 TO 10 NUMBERRING
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
# PRINT 1 TO 10 NUMBERRING
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Print Even Numebr using For Loop

In [9]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
word="Python"
for i in word:
    print(i)

P
y
t
h
o
n

In [14]:
sum=0
for i in range(1,11):
    sum+=i
print("Total",sum)

Total 55

In [ ]:
While Loop:-

While Condition:
    'statement

In [20]:
i=0
while i<5:
    i+=1
    print(i)

1
2
3
4
5

In [23]:
timer=5
while timer>=1:
    print(timer)
    timer-=1

5
4
3
2
1

In [24]:
password="abc@123"
user=""
while password != user:
    user=input("Enter Your Valid Password")
print("Access Granted")

Access Granted

In [ ]:
pin=123
attempt=3
while attempt>0:
    user=int(input("Enter Your PIN"))
    if user==pin:
        print("Login Successfully")
        break
    else:
        attempt-=1
        print("wrong Pin Entered Attempt Left",attempt)

Login Successfully

In [ ]:
print("=================WELCOME TO SBI ATM==================")
set_pin=int(input("Enter Your PIN:"))
balance=10000
password=set_pin
attempt=3
while attempt>0:
    login=int(input("Enter Your PIN"))
    
if password==login:
    print("\n==============Login Successfully===============\n")
    
    print("========ATM MENU==========")
    print("1.Check Balance")
    print("2.Withdraw Money")
    print("3.Deposit Money")
    print("4.Pin Change")
    
    choose=int(input("Enter Your Choise"))
    if choose==1:
        print("Your Balance is:",balance)
    elif choose==2:
        withdraw_amount=int(input("Enter Your Amount:"))
        if withdraw_amount<=10000 and withdraw_amount>=1:
            if withdraw_amount % 100==0:
                print("Withdraw SuccessFully")
                balance-=withdraw_amount
                print("-------------------------")
                print("Total Withdraw Amount:",withdraw_amount)
                print("Total Remaining Amount:",balance)
            else:
                print("Please Enter Multiplese of 100")
        else:
            print("Incoorect Amount")
            print("Insufficient Amount")
    elif choose==3:
        deposit=int(input("Enter Your Deposit Amount:"))
        if deposit>=0:
            print("Deposit Successfully")
            balance+=deposit
        else:
            print("Please Enter Valid Amount")
    elif choose==4:
        update_pin=int(input("Enter Your NEW PIN"))
        password=update_pin
else:
    print("Incorrect Password")

print("Thank You")

In [28]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [30]:
n=int(input("Enter Your Number"))
total=0
for i in range(1,n+1):
    total+=i
print(total)

210

In [31]:
n=int(input("Enter Your Table NUmber"))
total=0
for i in range(1,11):
    result=n*i
    total+=result
print("Total Sum is:",total)

Total Sum is: 110