LOOP STATEMENT

FOR LOOP
when we know how many times repeat/When we know number of iteration.

In [ ]:
Basic Syntax

for i(iterator) in range(start,stop,step):
    statement
    print(i)

In [3]:
# PRINT 1 TO 10 NUMBERRING
for i in range(1,10):
    i+=1
    print(i)

2
3
4
5
6
7
8
9
10

In [4]:
# PRINT 1 TO 10 NUMBERRING
for i in range(0,10):
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# PRINT 1 TO 10 NUMBERRING
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
# PRINT 1 TO 10 NUMBERRING
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Print Even Numebr using For Loop

In [9]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
word="Python"
for i in word:
    print(i)

P
y
t
h
o
n

In [14]:
sum=0
for i in range(1,11):
    sum+=i
print("Total",sum)

Total 55

In [ ]:
While Loop:-

While Condition:
    'statement

In [20]:
i=0
while i<5:
    i+=1
    print(i)

1
2
3
4
5

In [23]:
timer=5
while timer>=1:
    print(timer)
    timer-=1

5
4
3
2
1

In [24]:
password="abc@123"
user=""
while password != user:
    user=input("Enter Your Valid Password")
print("Access Granted")

Access Granted

In [ ]:
pin=123
attempt=3
while attempt>0:
    user=int(input("Enter Your PIN"))
    if user==pin:
        print("Login Successfully")
        break
    else:
        attempt-=1
        print("wrong Pin Entered Attempt Left",attempt)

Login Successfully

In [ ]:
print("=================WELCOME TO SBI ATM==================")
set_pin=int(input("Enter Your PIN:"))
balance=10000
password=set_pin
attempt=3
while attempt>0:
    login=int(input("Enter Your PIN"))
    
if password==login:
    print("\n==============Login Successfully===============\n")
    
    print("========ATM MENU==========")
    print("1.Check Balance")
    print("2.Withdraw Money")
    print("3.Deposit Money")
    print("4.Pin Change")
    
    choose=int(input("Enter Your Choise"))
    if choose==1:
        print("Your Balance is:",balance)
    elif choose==2:
        withdraw_amount=int(input("Enter Your Amount:"))
        if withdraw_amount<=10000 and withdraw_amount>=1:
            if withdraw_amount % 100==0:
                print("Withdraw SuccessFully")
                balance-=withdraw_amount
                print("-------------------------")
                print("Total Withdraw Amount:",withdraw_amount)
                print("Total Remaining Amount:",balance)
            else:
                print("Please Enter Multiplese of 100")
        else:
            print("Incoorect Amount")
            print("Insufficient Amount")
    elif choose==3:
        deposit=int(input("Enter Your Deposit Amount:"))
        if deposit>=0:
            print("Deposit Successfully")
            balance+=deposit
        else:
            print("Please Enter Valid Amount")
    elif choose==4:
        update_pin=int(input("Enter Your NEW PIN"))
        password=update_pin
else:
    print("Incorrect Password")

print("Thank You")

In [28]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [25]:
n=int(input("Enter Your Number"))
total=0
for i in range(1,n+1):
    total+=i
print(total)

210

In [ ]:
n=int(input("Enter Your Table NUmber"))
total=0
for i in range(1,11):
    result=n*i
    # print(result)
    print(f"{n} * {i}={result}")
    total+=result
print("Total Sum is:",total)

5
10
15
20
25
30
35
40
45
50
Total Sum is: 275

In [29]:
n = int(input("Enter Your Number: "))
for num in range(1, n + 1):        # Table Loop 1 to n
    print(f"\nTable of {num}")
    total = 0
    for i in range(1, 11):        # 1 to 10 table multiply
        result = num * i
        print(f"{num} x {i} = {result}")
        total += result
    print(f"Total Sum of Table {num} = {total}")

Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Total Sum of Table 1 = 55

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Total Sum of Table 2 = 110

Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Total Sum of Table 3 = 165

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Total Sum of Table 4 = 220

Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Total Sum of Table 5 = 275

In [6]:
print("*")
print("**")
print("***")
print("****")
print("*****")

*
**
***
****
*****

In [31]:
n=int(input("Enter Your Nunber"))
for i in range(1,n+1):
    print(f"{i}" * i)

1
22
333
4444
55555

In [9]:
n=int(input("Enter Your Number"))
for i in range(n,0,-1):
    print(i,"*" * i)

5 *****
4 ****
3 ***
2 **
1 *

In [19]:
n=int(input("Enter Your Number"))
for i in range(n,0,-1):
    if i % 2!=0:
        print(i,"*" * i)

19 *******************
17 *****************
15 ***************
13 *************
11 ***********
9 *********
7 *******
5 *****
3 ***
1 *

In [16]:
n=int(input("Enter Your Number"))
for i in range(n,0,-1):
    if i %2 ==0:
        print(i,"*" * i)

10 **********
8 ********
6 ******
4 ****
2 **

In [ ]:
****
****
****
****

In [42]:
n=int(input("Enter Your Rows Number: "))
for i in range(n+1):
    for k in range(n+1):
        print("*",end="")
    print()

******
******
******
******
******
******

In [30]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print("*"*n,end="")
    print()

*****
*****
*****
*****
*****

In [ ]:
        *
       **
      ***
     ****

In [36]:
n=int(input("Enter Your NUmber"))
for i in range(1,n+1):
    print(i," "*(n-i)+"*"* i)

1     *
2    **
3   ***
4  ****
5 *****

In [ ]:
n=int(input("Enter Your NUmber"))
for i in range(1,n+1):
    print(i," "*(n-i)+"*"* i)

In [ ]:
******
 *****
  ****
   ***
    **
     *

In [37]:
n=int(input("Enter Your NUmber"))
for i in range(n,0,-1):
    print(i," "*(n-i)+"*"* i)

5 *****
4  ****
3   ***
2    **
1     *

In [ ]:
      *
     ***

In [51]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print(" "*(n-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [40]:
n=int(input("Enter Your Number"))
for i in range(n,0,-1):
    print(i," "*(n-i)+"*"*(2*i-1))

10 *******************
9  *****************
8   ***************
7    *************
6     ***********
5      *********
4       *******
3        *****
2         ***
1          *

In [42]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print(" "*(n-i)+"*"*(2*i-1))
for i in range(n,0,-1):
    print(" "*(n-i)+"*"*(2*i-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [56]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):
        print(j,end="")
    for j in range(i,0,-1):
        print(j,end="")
    print()

    1
   121
  12321
 1234321
123454321

In [ ]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):          # 1 se i-1
        print(j,end="")
    for j in range(i,0,-1):       # i se 1
        print(j,end="")
    print()                        # Next Line

    1
   121
  12321
 1234321
123454321

In [ ]:
row(i)      spaces          left(1 to i-1)         right(i to 1)          clear_output
1            4                 empty                   1                    "   1"
2            3                1                       21                   "   121"
3            2                12                     321                   "  12321"
4            1                123                    4321                  " 1234321"
5            0                1234                   54321                 "123454321"

In [74]:
n=5
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    for j in range(1,i):          # 1 se i-1
        print(j,end="")
    for j in range(i,0,-1):       # i se 1
        print(j,end="")
    print()                        # Next Line
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):          # 1 se i-1
        print(j,end="")
    for j in range(i,0,-1):       # i se 1
        print(j,end="")
    print()

123454321
 1234321
  12321
   121
    1
    1
   121
  12321
 1234321
123454321

In [1]:
n = int(input("Enter Rows: "))
for i in range(1, n+1):
    left = ''.join(str(x) for x in range(1, i))
    right = ''.join(str(x) for x in range(i, 0, -1))
    print(" " * (n - i) + left + right)

    1
   121
  12321
 1234321
123454321

In [21]:
items = int(input("How many items you want to purchase? "))
customer_name = input("Enter Customer Name: ")
cart = []  
total = 0
print("\n------ Bill Details ------")
print("\ncustomer_name",customer_name)
for i in range(1, items + 1):
    name = input(f"Enter Item {i} Name: ")
    price = float(input("Enter Price: "))
    qty = int(input("Enter Quantity: "))   
    amount = price * qty
    total += amount
    cart.append({
        "Item": name,
        "Price": price,
        "Qty": qty,
        "Amount": amount
    })
    print(f"{name}  x {qty}  = ₹{amount}")
gst = total * 0.18
final_amount = total + gst

print("Total Purchase Amount:",total)
print("Totak GST:",gst)
print("Total Bill Amount:",final_amount)

------ Bill Details ------

customer_name Siddhu
brush  x 5  = ₹10.0
toothpaste  x 10  = ₹200.0
soap  x 50  = ₹2250.0
chips  x 50  = ₹250.0
biscuit  x 25  = ₹250.0
Total Purchase Amount: 2960.0
Totak GST: 532.8
Total Bill Amount: 3492.8

In [24]:
n = int(input("Enter Rows: "))
for i in range(1, n+1):
    left = ''.join(str(x) for x in range(1, i))
    right = ''.join(str(x) for x in range(i, 0, -1))
    print(" " * (n - i) + left + right)

    1
   121
  12321
 1234321
123454321

In [ ]:
items = int(input("How many items you want to purchase? "))
customer_name = input("Enter Customer Name: ")
cart = []  
total = 0
print("\n------ Bill Details ------")
print("\ncustomer_name",customer_name)
for i in range(1, items + 1):
    name = input(f"Enter Item {i} Name: ")
    price = float(input("Enter Price: "))
    qty = int(input("Enter Quantity: "))   
    amount = price * qty
    total += amount
    cart.append({
        "Item": name,
        "Price": price,
        "Qty": qty,
        "Amount": amount
    })
    print(f"{name}  x {qty}  = ₹{amount}")
gst = total * 0.18
final_amount = total + gst

print("Total Purchase Amount:",total)
print("Totak GST:",gst)
print("Total Bill Amount:",final_amount)

In [48]:
n = int(input("Enter Rows: "))
for i in range(1, n+1):
    left_side=str(2*i-1)
    space=" "*(n-i)
    left = ''.join(str(x) for x in range(1, i))
    right = ''.join(str(x) for x in range(i, 0, -1))
    piramid=left+right
    print(left_side+space,piramid)

1     1
3    121
5   12321
7  1234321
9 123454321

In [ ]:
n = int(input("Enter Rows: "))
for i in range(1, n+1):
    left = ''.join(str(x) for x in range(1, i))
    right = ''.join(str(x) for x in range(i, 0, -1))
    print(" " * (n - i) + left + right)

In [49]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    print(" "*(n-i)+"*"*(2*i-1))
for i in range(n,0,-1):
    print(" "*(n-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [53]:
n=int(input("Enter Your Number"))
for i in range(1,n+1):
    a=2*i-1
    print(a," "*(n-i)+"*"*(2*i-1))

1     *
3    ***
5   *****
7  *******
9 *********

While Loop:

In [3]:
count=1
while count<=5:
    print(count)
    count+=1

1
2
3
4
5

In [4]:
floor=4
while floor>=1:
    print("Lift At Floor",floor)
    floor-=1

Lift At Floor 4
Lift At Floor 3
Lift At Floor 2
Lift At Floor 1

In [7]:
n=int(input("Enter Your Number"))
i=1
total=0
while i<=n:
    total+=i
    i+=1
print("The Total Of Entered Number is:",total)

The Total Of Entered Number is: 55

In [ ]:
Login System:--

In [9]:
password="admin@123"
user=""
while user!=password:
    user=input("Enter Your Password")
print("Login Successfully")

Login Successfully

In [13]:
password="admin@123"
user=""
user=input("Enter Your Password")
while user!=password:
    # user=input("Enter Your Password")
    # print("Invalid")
    pass
print("Login Successfully")

KeyboardInterrupt:

In [19]:
password="admin@123"
user=""
user=input("Enter Your Password")
while user==password:
    # user=input("Enter Your Password")
    # print("Invalid")
    print("Login Successfully")
    break
if user!=password:
    print("Invalid Password")

Login Successfully

In [ ]:
while True:
    choose=input("Enter 1st For Start,or 2nd For Exsits")
    if choose==2:
        print("Exists")
        break
    print("Start.....")

Start.....
Start.....
Start.....
Start.....
Start.....
Start.....

In [3]:
while True:
    chooce = int(input("Enter 1 for Start, 2 for Exit: "))
    if chooce == 2:
        print("Exiting...")
        break
    print("Program Started")

Program Started
Exiting...

In [7]:
i=1
while i<=25:
    print("*",end="")
    if i% 5==0:
        print()
    i+=1

*****
*****
*****
*****
*****

In [ ]:
i=1
r=1
while i<=10:
    print("*",end="")
    if i==(r*(r+1))//2:
        print()
        r+=1
    i+=1

*
**
***