In [3]:
# This is my First Programming in python
a=5
b=6
print(a+b)

11

In [8]:
"""This is first coding in python
and i am very excited"""
a=5
b=6
print(a+b)

11

In [9]:
@12="Python"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3229924108.py, line 1)

In [10]:
123="Python"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (916841206.py, line 1)

In [11]:
a2="python"

In [12]:
2s=python

SyntaxError: invalid decimal literal (1392242241.py, line 1)

In [14]:
@1name="python"

SyntaxError: invalid decimal literal (795015921.py, line 1)

In [15]:
_="python"

In [16]:
print(_)

python

In [17]:
_name="python"

In [18]:
name__=123

In [19]:
na_me=52

In [21]:
nam@5="python"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3334020876.py, line 1)

In [22]:
a="Python"
print(type(a))

<class 'str'>

In [23]:
a="""Python"""
print(type(a))

<class 'str'>

In [24]:
a='''Python'''
print(type(a))

<class 'str'>

In [25]:
print(a)

Python

In [26]:
a=12
print(type(a))

<class 'int'>

In [27]:
a=10.5
print(type(a))

<class 'float'>

In [31]:
a=2j
b=5
print(type(a))
print(a+b)

<class 'complex'>
(5+2j)

In [32]:
a=True
print(type(a))

<class 'bool'>

In [33]:
a=[10,25,1,1,20.5,63,"Python","January","Python"]

In [34]:
print(type(a))

<class 'list'>

In [38]:
print(a[7])

January

In [39]:
print(a[0:6])

[10, 25, 1, 1, 20.5, 63]

In [40]:
# tuple
a=(25,36,36,42,52)

In [41]:
print(a)

(25, 36, 36, 42, 52)

In [43]:
print(type(a))

<class 'tuple'>

In [44]:
print(a[3])

42

In [57]:
# Dictionary
a={"a":"Apple","b":"Ball"}
a.keys()

dict_keys(['a', 'b'])

In [46]:
print(a)

{'a': 'Apple', 'b': 'Ball'}

In [47]:
print(type(a))

<class 'dict'>

In [51]:
print(a["b"])

Ball

In [52]:
# set
a={25,25,25,2,5,5}

In [53]:
print(a)

{25, 2, 5}

In [55]:
print(a)

{25, 2, 5}

Conditional Statement in Python

In [6]:
a=int(input("Enter Your Age"))
if a>=18:
    print("Yes You Are Eligible")
else:
    print("Not Eligible")

Yes You Are Eligible

In [11]:
# using elif
student_input=int(input("Enter Your Marks"))
if student_input>=300:
    print("Your Grade is A")
elif student_input>=250:
    print("Your Grade is B")
elif student_input>=200:
    print("Your Grade is C")
else:
    print("Fail")

Your Grade is C

In [24]:
pin=2134
balance=5000
enter_pin=int(input("Enter Your PIN"))
if enter_pin==pin:
    print("Login Success")
    amount=int(input("Enter Your Amount"))
    if amount<=balance:
        if amount%100==0:    
            if amount>0:
                print("Withdraw Success")
                balance-=amount
                print("Your Remaining Balance is ",balance)
            else:
                print("Please Entered Valid Amount")
        else:
            print("Please Enter Amount is Multiple of 100")
    else:
        print("Insufficient Amount")
else:
    print("Incorrect PIN")

Login Success
Please Entered Valid Amount

In [26]:
# Loop Statement
for i in range(10):
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
for i in range(10):
    i=i+1
    print(f"2 x {i}=",2*i)

2 x 1= 2
2 x 2= 4
2 x 3= 6
2 x 4= 8
2 x 5= 10
2 x 6= 12
2 x 7= 14
2 x 8= 16
2 x 9= 18
2 x 10= 20

In [29]:
color="blue"
print("I Like",color,"color and i have",color,"car")

I Like blue color and i have blue car

In [30]:
print(f"I Like {color} color and i have {color} car")

I Like blue color and i have blue car

In [31]:
for i in range(10):
    i=i+1
    print(f"{i}=",i*i)

1= 1
2= 4
3= 9
4= 16
5= 25
6= 36
7= 49
8= 64
9= 81
10= 100

In [33]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [43]:
def Add(a,b):
    return a+b
def mul(a,b):
    return a*b
print(Add(10,5))
# print(additon(25,5))

15

In [47]:
Add(25,5)

30

In [46]:
mul(45,5)

225