# TUPLE

> 1. Tuple is a collection Data type Just Like a List, But it is a Immutable datatype(Not Changeble)
> 2. Tuple cant be store Duplicates
> 3. Tuple Literal is ()
> 4. Tuple is Ordered.
> 5. Tuple Store Multiple data Types Like List
> 6. Tuple is Faster then List.

In [2]:
fruit=()  # empty Tuple

In [3]:
fruit=("Apple","Grapes","Banana",4,5,6)

In [4]:
fruit

('Apple', 'Grapes', 'Banana', 4, 5, 6)

NESTED TUPLE

In [5]:
nested_tuple=(4,5,(5,6),(5,5,8,9,8),6,9,5)

In [6]:
print(nested_tuple)

(4, 5, (5, 6), (5, 5, 8, 9, 8), 6, 9, 5)

In [7]:
nested_tuple[2]

(5, 6)

In [8]:
nested_tuple[2:4]

((5, 6), (5, 5, 8, 9, 8))

In [9]:
x=(10,)
print(type(x))

<class 'tuple'>

In [10]:
nested_tuple

(4, 5, (5, 6), (5, 5, 8, 9, 8), 6, 9, 5)

In [11]:
nested_tuple[::-1]

(5, 9, 6, (5, 5, 8, 9, 8), (5, 6), 5, 4)

In [12]:
a='Develper'
a[::-1]

'repleveD'

In [13]:
a=(1,2)
b=(3,4)
c=a+b

In [14]:
c

(1, 2, 3, 4)

In [15]:
type(c)

tuple

REPEATATION

In [16]:
a*3

(1, 2, 1, 2, 1, 2)

MEMBERSHIP

In [1]:
a=(4,5,8,7,9,10)
print(4 in a)

True

In [2]:
a=(4,5,8,7,9,10)
print(20 in a)

False

Tuple Function

In [4]:
len(a)

6

In [5]:
min(a)

4

In [6]:
max(a)

10

In [7]:
sum(a)

43

In [16]:
a=sorted(a)
a

[4, 5, 7, 8, 9, 10]

In [14]:
a[::-1]

[10, 9, 8, 7, 5, 4]

In [10]:
a.count(8)

1

In [11]:
a.index(10)

5

In [20]:
a=(4,5,8,7,9,10)
tuple(sorted(a,reverse=True))

(10, 9, 8, 7, 5, 4)

In [21]:
a

(4, 5, 8, 7, 9, 10)

In [23]:
a[2]=10 # immutable

TypeError: 'tuple' object does not support item assignment

In [26]:
a=list(a)

In [27]:
a[2]=10

In [29]:
tuple(a)

(4, 5, 10, 7, 9, 10)

In [30]:
a

[4, 5, 10, 7, 9, 10]

Packing & Unpacking

In [ ]:
student=("Vishnu",23,'India')

In [32]:
name,age,contry=student

In [33]:
name

'Vishnu'

In [34]:
age

23

In [35]:
contry

'India'

In [40]:
student2=name,age,contry

In [41]:
student2

('Vishnu', 23, 'India')

In [42]:
student2=name+age+contry

TypeError: can only concatenate str (not "int") to str

In [44]:
student=("Vishnu",'23','India')
name,age,country=student

In [47]:
student3=name,age,country

In [48]:
student3

('Vishnu', '23', 'India')

In [53]:
print('Hello Developer',end=" ")
print("Hello Vishnu")

Hello Developer Hello Vishnu

In [54]:
student=("Vishnu",23,'India')

In [57]:
print(student,sep=",")

('Vishnu', 23, 'India')

In [61]:
a=10
b=20
c=30
print(a,b,c,sep="\n")

10
20
30

Nested Tuple

In [62]:
data=(("Ram",1),("Shyam",2),("Rahul",3))

In [63]:
data

(('Ram', 1), ('Shyam', 2), ('Rahul', 3))

In [65]:
data[1][0]

'Shyam'

Practice Exercises
Create a tuple with 5 numbers and print its sum & average.
Access the 3rd element using negative indexing.
Convert this list into a tuple:
l = ["a", "b", "c"]
Create two tuples and join them.
Count how many times 10 appears in (10, 20, 10, 30, 10).
Unpack a tuple (‘Vishnu’, 22, ‘Python Developer’) into 3 variables.
Create a nested tuple and access the inner element.
Convert tuple (1,2,3) into a list, change 2 → 99, and convert back.
Reverse a tuple without using slicing.
Sort tuple (50, 10, 30, 20) in ascending order.