In [2]:
print("Hello Developer")
print("Hello Team")

Hello Developer
Hello Team

In [6]:
print("Hello Developer",end=' and ')
print("Hello Team")

Hello Developer and Hello Team

In [15]:
print("Hello Developer","Team",sep=' ')

Hello Developer Team

In [2]:
a=10  #type---int
b="Gopal"  #---str

In [3]:
print(b)

Gopal

In [4]:
c=10.5
d=True

In [5]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

10 <class 'int'>
Gopal <class 'str'>
10.5 <class 'float'>
True <class 'bool'>

In [6]:
a=input("Enter Your Name")
print(a)
type(a)

str

In [9]:
a=int(input("Enter Your First Number:"))
b=int(input("Enter Your Secound Number"))
c=a+b
print("Your 2 Digit Sum is :",c)
print(type(c))

Your 2 Digit Sum is : 108
<class 'int'>

In [10]:
print(a)

54

In [12]:
a='58'
print(type(a))

<class 'str'>

In [14]:
a=int(a)

In [15]:
print(type(a))

<class 'int'>

In [16]:
print(a)

58

In [20]:
o="Python"

In [22]:
print(type(o))
int(o)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Python'

In [23]:
u='10.5'

In [28]:
print(type(u))
print(int(float(u)))

<class 'str'>
10

In [30]:
s=input("Enter Your Name:")
print("Your Name is",s)

Your Name is Vishal

Data Types In Python
   >1.  Text Data Type
                    >---str
                    >    syntax("" /'')
                    >    bydefault input()---str
    >2. Numeric Data 
                    >int  1
                    >float 1.0
                    >complex 1i+1j
    >3. Sequence Data Type
                    >List   []
                    >Tuple ()
                    >range(5)
    >4. Mapping Data Type
                    >Dict {:}
    >5. Set Data Types
                    >set {}
                    >frozenset ({})
    >6.Binary Data Type
                    >bytes,'memoryview,bytearray
    >7. bool
                >True
                >False

STRING DATATYPE

In [17]:
a="Hello Developer"
b='apple'
c=int(input("Enter your age :"))

In [18]:
print(type(a),a)
print(type(b),b)
print(type(c),c)

<class 'str'> Hello Developer
<class 'str'> apple
<class 'int'> 56

Numerical datatype

In [16]:
a=18
b=1.4
c=True
d=2j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Sequence Data Type
> 1. List
        -It is a collection of multiple datatype
        -it allow to store duplicates value.
        -List Literal is []
        -List is mutable datatype
        -List helps to store multiple value in a single variable
syntax
        a=['Apple',"Banana",50,465]

In [19]:
fruits=["Apple","Banana","Mango","Gobhi"]

In [20]:
print(fruits)

['Apple', 'Banana', 'Mango', 'Gobhi']

In [21]:
print(type(fruits))

<class 'list'>

In [29]:
list1=["Apple","Banana","Mango","Gobhi",2j,3,5.5,True,True]

In [30]:
print(list1)

['Apple', 'Banana', 'Mango', 'Gobhi', 2j, 3, 5.5, True, True]

In [31]:
a,b,c=10,15,20

In [32]:
print(b)
print(a)
print(c)

15
10
20

In [ ]:
print(fruits[2])
print(fruits[0:3])

Mango
['Apple', 'Banana', 'Mango']

In [52]:
selected_fruits=fruits[0],fruits[2]

In [53]:
print(selected_fruits)

('Apple', 'Mango')

In [54]:
print(fruits[2])
print(fruits[0:3]+fruits[-2:])

Mango
['Apple', 'Banana', 'Mango', 'Mango', 'Gobhi']

In [55]:
fruits

['Apple', 'Banana', 'Mango', 'Gobhi']

In [56]:
selected_fruits=selected_fruits[1]

In [60]:
if "Mango" in fruits:
    print("Yes available")
else:
    print("Not Available")

Yes available

In [ ]:
print(selected_fruits)

Mango