In [2]:
print("Hello Developer")
print("Hello Team")

Hello Developer
Hello Team

In [6]:
print("Hello Developer",end=' and ')
print("Hello Team")

Hello Developer and Hello Team

In [15]:
print("Hello Developer","Team",sep=' ')

Hello Developer Team

In [2]:
a=10  #type---int
b="Gopal"  #---str

In [3]:
print(b)

Gopal

In [4]:
c=10.5
d=True

In [5]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

10 <class 'int'>
Gopal <class 'str'>
10.5 <class 'float'>
True <class 'bool'>

In [6]:
a=input("Enter Your Name")
print(a)
type(a)

str

In [9]:
a=int(input("Enter Your First Number:"))
b=int(input("Enter Your Secound Number"))
c=a+b
print("Your 2 Digit Sum is :",c)
print(type(c))

Your 2 Digit Sum is : 108
<class 'int'>

In [10]:
print(a)

54

In [12]:
a='58'
print(type(a))

<class 'str'>

In [14]:
a=int(a)

In [15]:
print(type(a))

<class 'int'>

In [16]:
print(a)

58

In [20]:
o="Python"

In [22]:
print(type(o))
int(o)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Python'

In [23]:
u='10.5'

In [28]:
print(type(u))
print(int(float(u)))

<class 'str'>
10

In [30]:
s=input("Enter Your Name:")
print("Your Name is",s)

Your Name is Vishal

Data Types In Python
   >1.  Text Data Type
                    >---str
                    >    syntax("" /'')
                    >    bydefault input()---str
    >2. Numeric Data 
                    >int  1
                    >float 1.0
                    >complex 1i+1j
    >3. Sequence Data Type
                    >List   []
                    >Tuple ()
                    >range(5)
    >4. Mapping Data Type
                    >Dict {:}
    >5. Set Data Types
                    >set {}
                    >frozenset ({})
    >6.Binary Data Type
                    >bytes,'memoryview,bytearray
    >7. bool
                >True
                >False

STRING DATATYPE

In [17]:
a="Hello Developer"
b='apple'
c=int(input("Enter your age :"))

In [18]:
print(type(a),a)
print(type(b),b)
print(type(c),c)

<class 'str'> Hello Developer
<class 'str'> apple
<class 'int'> 56

Numerical datatype

In [16]:
a=18
b=1.4
c=True
d=2j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Sequence Data Type
> 1. List
        -It is a collection of multiple datatype
        -it allow to store duplicates value.
        -List Literal is []
        -List is mutable datatype
        -List helps to store multiple value in a single variable
syntax
        a=['Apple',"Banana",50,465]

In [19]:
fruits=["Apple","Banana","Mango","Gobhi"]

In [20]:
print(fruits)

['Apple', 'Banana', 'Mango', 'Gobhi']

In [21]:
print(type(fruits))

<class 'list'>

In [22]:
list1=["Apple","Banana","Mango","Gobhi",2j,3,5.5,True,True]

In [23]:
print(list1)

['Apple', 'Banana', 'Mango', 'Gobhi', 2j, 3, 5.5, True, True]

In [24]:
a,b,c=10,15,20

In [25]:
print(b)
print(a)
print(c)

15
10
20

In [26]:
print(fruits[2])
print(fruits[0:3])

Mango
['Apple', 'Banana', 'Mango']

In [27]:
selected_fruits=fruits[0],fruits[2]

In [53]:
print(selected_fruits)

('Apple', 'Mango')

In [54]:
print(fruits[2])
print(fruits[0:3]+fruits[-2:])

Mango
['Apple', 'Banana', 'Mango', 'Mango', 'Gobhi']

In [55]:
fruits

['Apple', 'Banana', 'Mango', 'Gobhi']

In [56]:
selected_fruits=selected_fruits[1]

In [60]:
if "Mango" in fruits:
    print("Yes available")
else:
    print("Not Available")

Yes available

In [ ]:
print(selected_fruits)

Mango

In [29]:
student=["Mohan","Ravi","Shyam","Gurpreet"]

In [30]:
print(student)

['Mohan', 'Ravi', 'Shyam', 'Gurpreet']

In [31]:
student[1]="Vishal"
student[2]="Ram"

In [32]:
student

['Mohan', 'Vishal', 'Ram', 'Gurpreet']

In [33]:
print(student[1:3])

['Vishal', 'Ram']

In [34]:
student[1:3]=["Vikash","Sita"]

In [35]:
student

['Mohan', 'Vikash', 'Sita', 'Gurpreet']

In [36]:
classes=[student[0],student[3]]

In [37]:
classes=[student[0],student[2]]

In [38]:
print(classes)
type(classes)

['Mohan', 'Sita']

list

In [39]:
classes[0]='Sawan'

In [40]:
classes

['Sawan', 'Sita']

In [41]:
student

['Mohan', 'Vikash', 'Sita', 'Gurpreet']

In [42]:
student[0]='Sawan'
student[3]='Rahul'
print(student)

['Sawan', 'Vikash', 'Sita', 'Rahul']

In [43]:
student[2],student[0]="Vishnu","Rahul Kumar ram"

In [64]:
b=8
a=6
b=a
print(b)

6

In [67]:
b=8
a=6
a=b
print(a)

8

In [71]:
ram=28
shyam=36
ram=shyam
print(shyam)

36

In [73]:
a=36
b=57
a,b=b,a
print(a)
print(b)

57
36

In [ ]:
print(classes+student)

['Sawan', 'Sita', 'Rahul Kumar ram', 'Vikash', 'Vishnu', 'Rahul']

In [46]:
student

['Rahul Kumar ram', 'Vikash', 'Vishnu', 'Rahul']

In [47]:
student.insert(3,"VINOD KUMAR SINGH")

In [48]:
student

['Rahul Kumar ram', 'Vikash', 'Vishnu', 'VINOD KUMAR SINGH', 'Rahul']

In [128]:
print(type(updated_student))

<class 'NoneType'>

In [130]:
print(updated_student)

None

In [49]:
updated_CLASS=student.copy()

In [50]:
print(updated_CLASS)

['Rahul Kumar ram', 'Vikash', 'Vishnu', 'VINOD KUMAR SINGH', 'Rahul']

In [51]:
updated_CLASS.insert(2,"Radha")

In [52]:
print(updated_CLASS)

['Rahul Kumar ram', 'Vikash', 'Radha', 'Vishnu', 'VINOD KUMAR SINGH', 'Rahul']

In [55]:
student

['Rahul Kumar ram', 'Vikash', 'Vishnu', 'VINOD KUMAR SINGH', 'Rahul']

In [57]:
student=updated_CLASS

In [58]:
print(student)

['Rahul Kumar ram', 'Vikash', 'Vishnu', 'VINOD KUMAR SINGH', 'Rahul']

In [165]:
updated_student.append("Sawan")

In [166]:
updated_student

['Vishnu', 'Vikash', 'Radha', 'Sita', 'Rahul Kumar ram', 'Sawan']

In [175]:
student

['Vishnu', 'Vikash', 'Sita', 'Rahul Kumar ram']

In [176]:
fruits

['Apple',
 'Banana',
 'Mango',
 'Gobhi',
 'Brinjal',
 'Chili',
 'Potato',
 'Tomato',
 'Brinjal',
 'Chili',
 'Potato',
 'Tomato',
 'Brinjal',
 'Chili',
 'Potato',
 'Tomato']

In [182]:
vegetable=['Brinjal',"Chili","Potato","Tomato"]
fruit=['Apple', 'Banana', 'Mango', 'Gobhi']

In [178]:
fruit.extend(vegetable)

In [181]:
print(fruit)

['Apple', 'Banana', 'Mango', 'Gobhi', 'Brinjal', 'Chili', 'Potato', 'Tomato']

In [180]:
print(vegetable)

['Brinjal', 'Chili', 'Potato', 'Tomato']

In [183]:
print(fruit+vegetable)

['Apple', 'Banana', 'Mango', 'Gobhi', 'Brinjal', 'Chili', 'Potato', 'Tomato']

In [184]:
print(fruit)
print(vegetable)

['Apple', 'Banana', 'Mango', 'Gobhi']
['Brinjal', 'Chili', 'Potato', 'Tomato']

In [232]:
vegetable=['Brinjal',"Chili","Potato","Tomato"]
price=(20,45,60,25,70)
weight={1.5,2,3,5.5}
dic={"Vishal":5,"Vinod":10}
vegetable.extend(dic)
print(type(price))

<class 'tuple'>

In [233]:
print(vegetable)

['Brinjal', 'Chili', 'Potato', 'Tomato', 'Vishal', 'Vinod']

In [234]:
vegetable.pop(4)

'Vishal'

In [235]:
vegetable

['Brinjal', 'Chili', 'Potato', 'Tomato', 'Vinod']

In [236]:
vegetable.pop(4:5)

SyntaxError: invalid syntax (569244243.py, line 1)

In [237]:
vegetable.remove("Vishal")

ValueError: list.remove(x): x not in list

In [238]:
vegetable

['Brinjal', 'Chili', 'Potato', 'Tomato', 'Vinod']

In [239]:
vegetable.remove("Vinod")

In [240]:
print(vegetable)

['Brinjal', 'Chili', 'Potato', 'Tomato']

In [241]:
vegetable.pop()

'Tomato'

In [242]:
vegetable.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [245]:
del vegetable[0:]

In [246]:
vegetable

[]

In [249]:
a=[]
print(type(a))

<class 'list'>

In [248]:
print(a)

[]

In [255]:
vegetable=['Brinjal',"Chili","Potato","Tomato"]
price=(20,45,60,25,70)
weight={1.5,2,3,5.5}
dic={"Vishal":5,"Vinod":10}
vegetable.extend(dic)
print(type(price))

<class 'tuple'>

In [251]:
vegetable

['Brinjal', 'Chili', 'Potato', 'Tomato', 'Vishal', 'Vinod']

In [253]:
vegetable.clear()

In [256]:
print(vegetable)

['Brinjal', 'Chili', 'Potato', 'Tomato', 'Vishal', 'Vinod']

In [258]:
for i in vegetable:
    print(i)

Brinjal
Chili
Potato
Tomato
Vishal
Vinod

In [265]:
for i in vegetable:
    print(i,len(i))

Brinjal 7
Chili 5
Potato 6
Tomato 6
Vishal 6
Vinod 5

In [271]:
[print (i,len(i)) for i in vegetable]# LIST COMPREHENSSION

Brinjal 7
Chili 5
Potato 6
Tomato 6
Vishal 6
Vinod 5

[None, None, None, None, None, None]

In [282]:

New_fruit=[]
for i in fruit:
    if 'a' in i:
        New_fruit.append(i)
    elif 'A' in i:
        New_fruit.append(i)
print(New_fruit)

['Apple', 'Banana', 'Mango']

In [279]:
fruit

['Apple', 'Banana', 'Mango', 'Gobhi']

In [287]:
New_fruit=[i for i in fruit if 'a' in i elif 'A' in i]

SyntaxError: invalid syntax (586952611.py, line 1)

In [284]:
New_fruit

['Banana', 'Mango']

In [288]:
New_fruit=[i for i in fruit if 'a' in i or 'A' in i]

In [289]:
New_fruit

['Apple', 'Banana', 'Mango']

In [290]:
New_fruit1=[i for i in fruit if 'a' in i.lower()]

In [291]:
New_fruit1

['Apple', 'Banana', 'Mango']

In [294]:
q="Rahul"
q

'Rahul'

In [295]:
q.lower()

'rahul'

In [297]:
q.upper()

'RAHUL'

In [299]:
New_fruit=[]
for i in fruit:
    if 'a' in i:
        New_fruit.append(i)
    elif 'A' in i:
        New_fruit.append(i)
    print(i)
print(New_fruit)

Apple
Banana
Mango
Gobhi
['Apple', 'Banana', 'Mango']

In [300]:
New_fruit1=[i.lower() for i in fruit if 'a' in i.lower()]
print(i)

Gobhi

In [301]:
New_fruit1

['apple', 'banana', 'mango']

In [77]:
a=list((52,45,28,45))
print(type(a))

<class 'list'>

In [78]:
print(a)

[52, 45, 28, 45]

In [ ]:
# list()---list constructor

In [79]:
list1=['A','B','C','D']
list2=[1,2,3,4,5]
list3=list1+list2

In [80]:
list3

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5]

In [81]:
list1=['A','B','C','D','E']
list2=[1,2,3,4,5,'D']
for i in list2:
    list1.append(i)
print(list1)

['A', 'B', 'C', 'D', 'E', 1, 2, 3, 4, 5, 'D']

In [82]:
list1.extend(list2)

In [84]:
print(list2)
list1

[1, 2, 3, 4, 5, 'D']

['A', 'B', 'C', 'D', 'E', 1, 2, 3, 4, 5, 'D', 1, 2, 3, 4, 5, 'D']

In [92]:
list1
list1.count('D')

3

In [96]:
list1.index(5)

9

In [98]:
list1.reverse()

In [99]:
list1

['D', 5, 4, 3, 2, 1, 'D', 5, 4, 3, 2, 1, 'E', 'D', 'C', 'B', 'A']

In [100]:
student.reverse()

In [101]:
student

['Rahul', 'VINOD KUMAR SINGH', 'Vishnu', 'Vikash', 'Rahul Kumar ram']

In [ ]:
fruit=() # emplty tuple

In [104]:
type(fruit)

tuple

In [105]:
fruit=("Apple","Grapes","Banana",4,5,6)

In [106]:
print(fruit)

('Apple', 'Grapes', 'Banana', 4, 5, 6)

NESTED TUPLE

In [109]:
nested_tuple=(4,5,(5,6),(5,5,8,9,8),6,9,5)

In [110]:
print(nested_tuple)

(4, 5, (5, 6), (5, 5, 8, 9, 8), 6, 9, 5)

(5, 6)

((5, 6), (5, 5, 8, 9, 8))

<class 'tuple'>

(4, 5, (5, 6), (5, 5, 8, 9, 8), 6, 9, 5)

(5, 9, 6, (5, 5, 8, 9, 8), (5, 6), 5, 4)

'repleveD'

(1, 2, 3, 4)

tuple

(1, 2, 1, 2, 1, 2)